<!-- <div cdkDropListGroup class="grid grid-cols-3">
    @for(state of states; track state){
    <div class="example-container">
        <h2>{{state}}</h2>

        <div cdkDropList [cdkDropListData]="tasksByState(state)().state" class="example-list"
            (cdkDropListDropped)="drop($event)">
            @for (item of tasksByState(state)().tasks; track item) {
            <div class="example-box" cdkDrag [cdkDragData]="item">{{item.title}}</div>
            }
        </div>
    </div>
    }
</div> -->